*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0f172a;
    color:white;
}

.contenedor{
    display:flex;
    gap:20px;
    padding:30px;
    min-height:100vh;
}

.izquierda{
    flex:2;
}

.derecha{
    flex:1;
}

h1{
    margin-bottom:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select,
button{
    padding:12px;
    border:none;
    border-radius:10px;
}

button{
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#1d4ed8;
}

.historial{
    height:100%;
}

.logs{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-height:700px;
    overflow:auto;
}

.log{
    background:#334155;
    padding:10px;
    border-radius:10px;
}

.mensaje{
    background:#16a34a;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
}